
.inline-block {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-color: #b4aa9f;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    padding-top: 15px;
    white-space: nowrap;
    
}
header {
    background-color: #b4aa9f;
    border-style: solid;
    border-width: 22px;
    border-color: white;
    border-left:50px;
    border-right:50px;


}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    background-color: #b4aa9f; 
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
}
#searchicon{
    padding-left: 5px;
}
.searchBar{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 30px;
}
.About {
    padding-left: 20px;
    padding-right:20px;
}
.MyWork {
    padding-left: 20px;
    padding-right:20px;
    color: #545454;
    
}
.MySkills {
    padding-left: 20px;
    padding-right:20px;
}
.Contact {
    padding-left: 20px;
    padding-right:20px;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding:1%;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
    size: 50px;} 
h1{
    color: #545454;
    font-family: 'Noto Serif SC', serif;
    font-size: 30px;

}
.work {
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    text-align: center;
    font-family: 'Noto Serif SC', serif;
    font-size: 30px;
    color: #545454;
}
.info{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    max-width: 400px ;
    padding-left: 50px;
    text-align: left;
    background-color: #EEE5DB;
    padding-bottom: 50px;
    padding-right: 50px;
    box-shadow: 4px 4px 5px grey;
    width: 250px;

}
#gif{
    display: flex;
    padding-left: 50px;
    align-items: center;
    justify-content: flex-end;
}
h1 {
    text-align: center;
    outline-color: #545454;
    font-family:'Noto Serif SC', serif ;
}
#myWork{
    background-color: #b4aa9f;
    opacity: 70%;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
}
footer{
    padding-top: 50px;
}
#arrow {
    padding-right: 100px;

}
.foot {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    color: #545454;
}
#learn {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: 'Noto Serif SC', serif;
    font-size: 18px;
    color: #545454;
    text-decoration: underline;
    background-color: white;
    width: 105px;
    height: 27px;
    padding-right: 5px;
    border-radius: 5px;
    border-style: solid, grey, ;
}

#icon {
    text-align: right;
    max-width: 208px;
    
    display: flex;
    align-items: flex-end;
}
