.inline-block {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-color: #b4aa9f;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    padding-top: 15px;
    white-space: nowrap;
    
}
header {
    background-color: #b4aa9f;
    border-style: solid;
    border-width: 22px;
    border-color: white;
    border-left:50px;
    border-right:50px;


}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    background-color: #b4aa9f; 
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
}
#searchicon{
    padding-left: 5px;
}
.searchBar{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 30px;
}
.About {
    padding-left: 20px;
    padding-right:20px;
}
.MyWork {
    padding-left:20px;
    padding-right:20px;}
.MySkills {
    padding-left: 20px;
    padding-right:20px;
    color: #545454;
}
.Contact {
    padding-left: 20px;
    padding-right:20px;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; padding:1%;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: left;
    size: 50px;
} 
.flexContainer {
    display:flex; 
   justify-content: center;
    flex-direction: row;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
h1{
    font-family: 'Noto Serif SC', serif;
    color:#545454;
    white-space: nowrap;
     text-align: center;
}

.mySkills {
    display:flex;
    justify-content:center;
    margin-left: 100px;
    margin-right: 100px;
    white-space: wrap;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    color: #545454;
}
#link {
    font-family:'Noto Serif SC', serif ;
    display: flex;
    align-items: flex-end;
    
}
 p {
    max-width: 700px;
    font-family:'Nunito', sans-serif;
    color: #545454;
 }
.myWork {
    display:flex;
    justify-content:center;
    white-space: wrap;
}
.workGrid {
    display:grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 50% 50% ;    
}
h2 {
    display: flex;
    justify-content: flex-start;
    font-family:'Noto Serif SC', serif ;
    padding-right: 20px;
    color: #545454;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap;
}

button {
    background-color: #b4aa9f;
    height: 40px;
    width: 100px;
    font-size: 15px;
    border-color: #b4aa9f;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 30px;
   
}

footer {
    padding-top: 50px;
}
.foot {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Serif SC', serif;
    color: #545454;
}
#learn {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: 'Noto Serif SC', serif;
    font-size: 18px;
    color: #545454;
    text-decoration: underline;
    background-color: white;
    width: 105px;
    height: 27px;
    padding-right: 5px;
    border-radius: 5px;
    border-style: solid, grey, ;
}

#icon {
    text-align: right;
    max-width: 208px;
    
    display: flex;
    align-items: flex-end;}

 @media only screen and (max-width: 600px) {
    .workGrid {
        display:grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: 100%;    
    }
 }